# for backend
# Ignore virtual environments
server/venv/
servervenv/env/
.venv/
.DS_Store
# Ignore database
server/snippets/venv/*.sqlite3

# Ignore compiled Python files
server/snippets/venv/__pycache__/
server/snippets/venv/*.pyc
server/snippets/venv/*.pyo
server/snippets/venv/*.pyd

# Ignore environment variables
server/snippets/venv/.env

# Ignore Django migrations
server/snippets/venv/**/migrations/
# for frontend
client/node_modules

