# Ignore virtual environments
venv/
env/
.venv/

# Ignore database
*.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env

# Ignore Django migrations
**/migrations/
